.container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.05);
}

.container h2 {
  text-align: center;
  margin-bottom: 24px;
}

input {
  width: 90%;
  padding: 12px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button-ChangePassword {
  width: 30%;
  padding: 12px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 180px;
  
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 16px;
  font-weight: 500;
}

.success {
  color: green;
}

.error {
  color: red;
}
